<section class="content admited">
  <div>
    <div class="subtitle baseBox">
      <span class="icon-profile"></span>
      <div>
        <h2 id="specialityName"></h2>
        <p>Mostrando grupo:</p>
      </div>
    </div>
  </div>
  <div class="info">
    <table>
      <thead>
        <tr>
          <th>No. list</th>
          <th>Nombre</th>
          <th>Examen de admisión</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% offset = 0 %>
        <% @admisions.each do |a| %>
        <% offset = offset + 1 %>
          <tr>
            <td><%= offset %></td>
            <td><%= a.name %></td>
            <td><%= a.examMark %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
