<%= render 'headerp' %>
<div>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
      <div class="actions">
        <a href="/" class="button baseBox" id="import">
          <span class="icon-home"></span>
          <h3>Volver al inicio</h3>
        </a>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-neutral baseBox"></span>
          <div>
            <h2>Sesión no permitida</h2>
            <p>Lo sentimos, no puedes ingresar aquí sin una sesión con permisos administrativos</p>
          </div>
        </div>
        <div class="info">
          <p>Por favor inicia sesion para poder continuar<br></p>
        </div>
      </div>
    </section>
  </div>
</div>
