<div>
  <%= render 'header' %>
  <section class="sideBar">
    <div class="baseBox">
      <h2>Bienvenido</h2>
    </div>
  </section>
  <section>
    <div = class="baseBox">
      <div class="subtitle">
        <h2>Generar grupos</h2>
      </div>
    </div>
  </section>
</div>
