<div>
  <%= render 'header' %>
  <aside class="sideBar">
    <div class="subtitle baseBox">
      <h2>Acciones</h2>
    </div>
  </aside>
  <section class="content">
    <div>
      <div class="subtitle baseBox">
        <span class="icon-file-text2 baseBox"></span>
        <div>
          <h2>Generar grupos</h2>
          <p>Aquí puedes generar los grupos de forma definitiva.</p>
        </div>
      </div>
      <div class="info">
        <p>
          En este apartado puedes generar
        </p>
      </div>
    </div>
  </section>
</div>
