/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/********************************************
*  Ajustes del cuerpo entero de la páagina  *
********************************************/
*{
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
}

body{
  width: 100%;
  background-color: #ededed;
}

a{
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  text-decoration: none;
  color: black;
}

a:hover{
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #23bbbf;
}

.baseBox{
  display: flex;
}

/****************************
*  Estilos predeterminados  *
****************************/

.title{
  font-size: 0.7em;
}

.title h1{
  font-weight: 400;
}

header{
  position: fixed;
  width: 100%;
  height: 3.7em;
  background: white;
  border-bottom: solid 1px;
  border-color: #d4d4d4;
}

/***************Predeterminado******************
*  Diseño del encabezado de la aplicación web  *
***********************************************/

/*Título encabezado*/
header .title{
  margin-left: 1em;
  padding-right: 1em;
  border-right: solid 1px;
  border-color: #d4d4d4;
}

header .title span{
  font-size: 2.6em;
  margin-top: 0.55em;
  margin-right: 0.4em;
}

/*Barra de navegación*/
.navBar{
  margin-top: 1.3em;
}

.navBar nav ul li{
  font-size: 1em;
  display: inline-block;
  border-right: solid 1px;
  border-color: #d4d4d4;
  padding-right: 6px;
  padding-left: 5px;
}

.navBar nav ul .excluded{
  border-right: none;
}

/*Opción de inicio de sesión*/
.logIn{
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  right: 4%;
  position: absolute;
  margin-top: 1.1em;
}

.logIn:hover{
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #23bbbf;
}

.logIn span{
  margin-right: 0.6em;
  font-size: 1.4em;
}

.logIn a{
  margin-top: 0.15em;
  font-size: 1em;
}

.secondary{
  margin-top: 7%;
}

/*******************Predeterminado**********************
*  Diseño de opciones en sideBar de la aplicación web  *
*******************************************************/

.sideBar{
  margin-left: 1%;
  position: fixed;
  width: 23%;
}

/********************Predeterminado************************
*  Diseño de las zonas de contenido de la aplicación web  *
**********************************************************/

.content{
  background: white;
  width: 70%;
  margin-left: 26%;
  margin-bottom: 4%;
  border: solid 1px;
  border-color: #d4d4d4;
}

/*Título del contenido*/
.subtitle{
  margin-top: 3%;
  border-bottom: solid 1px;
  border-color: #d4d4d4;
  width: 100%;
}

.subtitle span{
  font-size: 2em;
  margin-left: 8%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
}

.subtitle div{
  margin-left: 1%;
}

.subtitle h2{
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 0.1%;
}

.subtitle p{
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 5%;
}

/*Contenido*/
.info{
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 3%;
}

.info p, ul li{
  font-size: 0.95em;
  margin-bottom: 2%;
  text-align: justify;
}

.info ul li{
  display: block;
}
