<div>
  <%= render 'header' %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon baseBox"></span>
          <div>
            <h2></h2>
            <p></p>
          </div>
        </div>
        <div class="info">
          <p></p>
        </div>
      </div>
    </section>
  </div>
</div>
