<div class="groupsList">
  <span class="button icon-cross" id="close"></span>
  <h3>Turno matutino</h3>
  <ul>
    <li id="M1">Administración de recursos humanos 'A'</li>
    <li id="M2">Administración de recursos humanos 'B'</li>
    <li id="M3">Contabilidad 'A'</li>
    <li id="M4">Pogramación 'A'</li>
    <li id="M5">Pogramación 'B'</li>
    <li id="M6">Electrónica 'A'</li>
  </ul>
  <h3>Turno vespertino</h3>
  <ul>
    <li id="V1">Administración de recursos humanos 'A'</li>
    <li id="V2">Administración de recursos humanos 'B'</li>
    <li id="V3">Mantenimiento automotríz 'A'</li>
    <li id="V4">Pogramación 'A'</li>
    <li id="V5">Pogramación 'B'</li>
    <li id="V6">Electrónica 'A'</li>
  </ul>
</div>
