<div>
  <%= render 'header' %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-paste baseBox"></span>
          <div>
            <h2>Admisiones</h2>
            <p>Aquí puedes ver los alumnos admitidos y ver en que grupos están.</p>
          </div>
        </div>
        <div class="info">
          <p>
            Los alumnos que hiceron protocolo para ingresar a la institución fueron admitidos bajo el funcionamiento de un programa, el cual que revisa que los
            estudiantes que solicitaron entrar a la institución cumplan con ciertos parámetros predefinidos dentro del código del software.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
