<!-- Opciones para elegir el grupo que desea ver !-->
<%= render 'groupSerch' %>
<div>
  <% if user_signed_in? %>
    <%= render 'header' %>
  <% else %>
    <%= render 'headerp' %>
  <% end %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
      <div class="actions">
        <% if Group.all.length > 0 %>
        <span class="button baseBox" id="showGroups">
          <span class="icon-profile"></span>
          <h3>Elegir grupo</h3>
        </span>
        <% end %>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-paste baseBox"></span>
          <div>
            <h2>Admisiones</h2>
            <p>Aquí puedes encontrar todos los alumnos aceptados.</p>
          </div>
        </div>
        <div class="info">
          <p>
            Los alumnos que hiceron proceso para ingresar a la institución fueron admitidos bajo el funcionamiento de esta aplicación,
            la cual mediante algoritmos y un proceso definido organiza a los alumnos para el ingreso a esta institución.

          </p>
        </div>
      </div>
    </section>
    <%= render 'admited' %>
  </div>
</div>
