<div>
  <% if user_signed_in? %>
    <%= render 'header' %>
  <% else %>
    <%= render 'headerp' %>
  <% end %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-terminal baseBox"></span>
          <div>
            <h2>Desarrolladores</h2>
            <p>¿Son de un CBTis?</p>
          </div>
        </div>
        <div class="info">
          <p>
            Estamos muy orgullosos de presentar nuestra primera aplicación web, completamnte desarrollada por estudiantes del
            cbtis 226  en la especialidad de programación, los cuales con mucha dedicación y esfuerzo hemos conseguido sacar adelante
            este proyecto. pero no nos quedaremos con eso, seguiremos avanzando para poder ofrecer productos de calidad e innovadores
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
