<div>
  <%= render 'header' %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-terminal baseBox"></span>
          <div>
            <h2>Desarrolladores</h2>
            <p>
              Estamos orgullosos de reconocer que los desarrolladores de Esta aplicacíon  web son Alumnos
              del centro de bachiller tecnológico industrial y de servicios numero 226, Los cuales con el conocimiento adquirido
              en la institución desarrollamos una aplicacíon web para poder ayudar a hacer que la elección de los nuevos integrantes
              de esta institución sea mas agil, organizada y transparente.
            </p>
            <ul>
              <li>Alfonso Valencia Sandoval</li>
              <li>Guillermo Espinosa Elizondo</li>
              <li>Josue Enrique Luna Palafox</li>
              <li>Lizbeth Barragan Murgia </li>
              <li>Elizabeth Cedeño Navarro</li>
              <li>Reyes Ivan Rodrigues</li>
              <li>Sergio Antonio Becerra Cobián</li>
            </ul>
          </div>
        </div>
        <div class="info">
        </div>
      </div>
    </section>
  </div>
</div>
