<div>
  <% if user_signed_in? %>
    <%= render 'header' %>
  <% else %>
    <%= render 'headerp' %>
  <% end %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-terminal baseBox"></span>
          <div>
            <h2>Desarrolladores</h2>
            <p>¿Quienes Somos?</p>
          </div>
        </div>
        <div class="info">
          <p>
            Estamos muy orgullosos de presentar nuestra primera aplicación web, completamnte desarrollada por estudiantes del
            cbtis 226  en la especialidad de programación, los cuales con mucha dedicación y esfuerzo hemos conseguido sacar adelante
            este proyecto. pero no nos quedaremos con eso, seguiremos avanzando para poder ofrecer productos de calidad e innovadores
            <p><b>TeamOp</b></p>
            <ul>
              <li>-Alfonso Valencia Sandoval-</li>
              <li>-Guillemo Espinoza Elizondo-</li>
              <li>-Reyes Ivan Rodrigues Hérnandez-</li>
              <li>-Elizabeth Cedeño Navarro-</li>
              <li>-Lizbeth Barragan Murgia-</li>
              <li>-Josué Enrique Luna Palafox-</li>
              <li>-Sergio Antonio Becerra Cobián-</li>
            </ul>
          </p>ass
        </div>
          <div class="subtitle baseBox">
            <h2>Contacto</h2>
              <div class="info">
                <p>¿Necesitas soporte? puedes ponerte en contacto por medio del correo soporteteamop@gmail.com, o por medio de los
                telefonos 341-102-6972 o 33-206-6774 </p>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>
