<div>
  <% if user_signed_in? %>
    <%= render 'header' %>
  <% else %>
    <%= render 'headerp' %>
  <% end %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
      <div class="info">
        <p>
          <br>En esta sección suele haber distintas funciones pero no todos los apartados cuentan con ellas.<br><br>
          Este apartado no cuento con acciones.
        </p>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-home baseBox"></span>
          <div>
            <h2>Bienvenido!</h2>
            <p>Estás en el sitio web de admisiones de alumnos de nuevo ingreso del CBTis226.   </p>
          </div>
        </div>
        <div class="info">
          <p>Hola</p>
        </div>
      </div>
    </section>
  </div>
</div>
