<div>
  <%= render 'header' %>
  <div class="body">
    <aside class="sideBar">
      <div class="subtitle baseBox">
        <span class="icon-book baseBox"></span>
        <div>
          <h2>Acciones</h2>
        </div>
      </div>
      <div class="info">
        <p>
          <br>Este apartado no cuento con acciones por el momento pero seran agregadas en futuras actualizaciónes.<br><br>
        </p>
      </div>
    </aside>
    <section class="content">
      <div>
        <div class="subtitle baseBox">
          <span class="icon-home baseBox"></span>
          <div>
            <h2>Bienvenido!</h2>
            <p>Estás en el sitio web (beta) de admisiones de alumnos de nuevo ingreso del CBTis226.   </p>
          </div>
        </div>
        <div class="info">
          <p>Esta zona sera utilizada en futuras verciones del sistema </p>
        </div>
      </div>
    </section>
  </div>
</div>
